/*
 过渡期
 
 */
body{
  background-color:#363636;

}
/*
label{
  color:#ffaf51;
  font-size:1.5em;
}
*/
td,th{
  border:2px dashed #454345;
  text-align:center;
}

button{
  display:inline-block;
  border-radius:50%;
  height:50px;
  width:50px;
}

.opL{
  font-size:1.8em;
  color:#707070;
}

#dashboard{
  margin:0 auto;
  width:80%;
  height:20%;
  border:3px solid #B0B0B0;
  font-size:1.6em;
  color:#B0B0B0;
}
#HzBarC {
  width:1200px;
  height:400px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	        margin: 0;
	}
.modal-content{
  background-color:#B0B0B0;
  opacity:0.7;
}

#mmtable{
  margin:0 auto;
  width:80%;
  height:20%;
  border:3px solid #B0B0B0;
  font-size:1.2rem;
  color:#000;
}

#ctrlBtn{
  margin-right:10%;
  margin-top:5%;
}



