/*
 过渡期
 
 */
body{
  background-color:white;

}
/*
label{
  color:#ffaf51;
  font-size:1.5em;
}
*/
td,th{
  border:2px dashed #454345;
  text-align:center;
}

#ctrlboard>button{
  display:inline-block;
  background-color:#9eea6a;
  height:50px;
  width:50px;
}

.opL{
  font-size:1.8em;
  color:#707070;
}

#dashboard,#mmtable{
  margin:0 auto;
  width:80%;
  height:20%;
  border:3px solid #B0B0B0;
  font-size:1.6em;
  color:black;
}
#HzBarC {
  width:1200px;
  height:400px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	    -webkit-appearance: none;
	        margin: 0;
	}
.modal-content{
  background-color:#fff;
  opacity:1;
}

#mmtable,#linear-table,#log-table{
  margin:0 auto;
  width:80%;
  height:20%;
  border:3px solid #B0B0B0;
  font-size:1.2rem;
  color:#000;
}


#ctrlBtn{
  margin-right:10%;
  margin-top:5%;
}

.modal-header{
  background-color: #b0b0b0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-footer{
  background-color: #707070;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#stsLight{
  background-color:green;
  font-size: 1.5rem;
  color:whitesmoke;
}
